<nav>
    <div style="display: flex; align-items: center">
        <a href=""><img src="assets/icon.png"/></a>
        <h1>Tank_Tactics</h1>
    </div>
    <a class="navItem" href="/">Home</a>
    <a class="navItem" href="/join">Join</a>
    <a class="navItem" href="/create-game">Create</a>
    <a class="navItem" href="/auth/logout" id="logout">Logout</a>


    <style>
        @keyframes slideInFromLeft {
            0% {
                transform: translateX(-20%);
                color: transparent;
                opacity: 0;
            }
            100% {
                transform: translateX(0);
            }
        }

        nav {
            animation: 0.75s ease-out 0s 1 slideInFromLeft;

            display: flex;
            flex-direction: column;

            margin: 0;
            margin-right: 15px;

            top: 0;
            left: 0;

            width: fit-content;
            height: 100%;
            background: linear-gradient(90deg, black, transparent);
        }

        @keyframes iconSpin {
            0% {
                transform: rotate(150deg);
                color: transparent;
                opacity: 0;
            }
            100% {
                transform: rotate(0deg);
            }
        }

        nav img {
            animation: 0.75s ease-out 0s 1 iconSpin;
            height: 50px;
            margin-left: 10px;
            opacity: 0.6;
        }

        nav h1 {
            margin: 25px 10px;
            color: inherit;
        }

        a.navItem {
            font-family: Uni-Sans, Georama, serif;
            margin: 0 20px;
            height: 90px;
            font-size: 35px;
            position: relative;
            color: var(--anchor-text);

            display: flex;
            align-items: center;
        }

        a.navItem:hover {
            color: white;
        }

        a.navItem:before {
            content: "";
            position: absolute;
            top: 0;
            height: 3px;
            margin: 5px 0 0;
            opacity: 1;
            right: 0;
            background-color: white;
            width: 0;

            transition: width 0.3s;
        }

        a.navItem:hover:before, a.navItem:active:before {
            width: 100%;
        }

        a.navItem:after {
            content: "";
            position: absolute;
            bottom: 0;
            height: 3px;
            margin: 0;
            opacity: 1;
            left: 0;
            background-color: white;
            width: 0;

            transition: width 0.3s;
        }

        a.navItem:hover:after, a.navItem:active:after {
            width: 100%;
        }

        #logout {
            margin-top: auto;
            margin-bottom: 50px;
            justify-self: flex-end;

            z-index: 10;
        }
    </style>
</nav>
