<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Georama" rel="stylesheet">
    <link rel="prefetch" href="/assets/fonts/Hollow-Regular.woff2" as="font" crossorigin="anonymous" >
    <link rel="prefetch" href="/assets/fonts/BechtlersRegular.woff2" as="font" crossorigin="anonymous" >
    <link rel="prefetch" href="/assets/fonts/Uni Sans Thin.woff2" as="font" crossorigin="anonymous" >
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="css/index.css">
    <title>Tank Turn Tactics</title>
</head>