<h1>Login</h1>
<div>
    <form action="/register" method="post">
        <div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required/>

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required/>
        </div>
        <button type="submit">Login</button>
    </form>
</div>