:root {
    --bg: #342e2e;

    --secondary: #a4a29b;
    --secondary-glow: #eeeae9;

    --contrast: #f8c33d;

    --card-background: rgba(5, 5, 5, 0.73);

    --error: #e03f3f;

    --input-text: #dedede;
    --input-placeholder: #868686;

    --main-font: 'Georama';
}

@font-face {
    font-family: 'Hollow';
    src: url("../assets/fonts/Hollow-Regular.ttf")
}

@font-face {
    font-family: 'Bechtlers';
    src: url("../assets/fonts/BechtlersRegular.ttf");
}

@font-face {
    font-family: 'Bechtlers';
    src: url("../assets/fonts/Bechtlers-Italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: 'Uni-Sans';
    src: url("../assets/fonts/Uni Sans Thin.otf");
}

@font-face {
    font-family: 'Uni-Sans';
    src: url("../assets/fonts/Uni Sans Thin Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: 'Uni-Sans';
    src: url("../assets/fonts/Uni Sans Heavy.otf");
    font-weight: bold;
}

@font-face {
    font-family: 'Uni-Sans';
    src: url("../assets/fonts/Uni Sans Heavy Italic.otf");
    font-weight: bold;

    font-style: italic;
}

* {
    font-family: var(--main-font), sans-serif;
}

html {
    padding: 0;
    margin: 0;

    height: 100%;

}

body {
    margin: 0;
    background-color: var(--bg);
    background-image: url("../assets/gridwallpaper.jpg");
    color: var(--secondary);
    height: inherit;
}


h1 {
    color: white;
    margin: 20px 5px;
    font-family: Hollow, sans-serif;
    font-size: 30px;
}

h2, h3 {
    margin-top: 15px;
    font-family: Uni-Sans, sans-serif;
    color: white
}

input:-webkit-autofill {
    -webkit-text-fill-color: var(--input-text) !important;
    -webkit-background-clip: text;
}

a {
    display: block;
    text-decoration: none;
    color: var(--contrast);
    transition: all 0.2s;
    margin: 5px;
}

a:hover {
    color: white;
    text-shadow: var(--secondary) 0 0 5px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border-style: hidden;

    font-size: 20px;
}

table td, table th {
    border: 1px solid var(--secondary);
}

th, td {
    padding: 5px;
}


/* Forms */

button {
    background-color: var(--bg);
    border: var(--secondary) solid 1px;
    border-radius: 2px;

    color: var(--secondary);
    font-size: 16px;

    margin: 10px;
    padding: 5px 10px;

    text-align: center;
    text-decoration: none;

    display: inline-block;

    transition: all 0.1s;
}

button:hover:enabled {
    color: var(--contrast);
    border: var(--contrast) solid 1px;
}

button:disabled {
    color: var(--input-placeholder);
}

button:focus {
    color: white;
}

.formItem {
    margin-bottom: 15px;
    overflow: visible;
    background: radial-gradient(black 1%, transparent);

}

.formItem label, select, input  {
    font-size: 20px;
    color: var(--input-text);
}

input {
    color: var(--input-text);

    margin: 5px;
    border: 0;
    outline: 0;
    background-color: transparent;
    border-bottom: 1px solid var(--secondary);
    caret-color: var(--secondary);
}

input::placeholder {
    color: var(--input-placeholder);
}

input:focus {
    border-bottom: 1px solid var(--secondary-glow);
}

input, select {
    margin-right: 0;
}

select {
    background-color: black;
    color: white;
    border-radius: 5%;
}

/* Templates */

.error {
    color: var(--error)
}

.card {
    width: fit-content;
    padding: 15px;

    border-radius: 15px;

    box-shadow: gray 0 0 15px;
    background-color: var(--card-background);
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
}