<%- include('../../partials/head.html') %>

<h1>Waiting for "<%= gameName %>" to start</h1>

<div>
    <input id="invite" readonly/>
    <button id="copy">Copy</button>

    <div id="playerList">
        <h2>Players:</h2>

    </div>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const gameId = urlParams.get('game')
    </script>

    <% if (isCreator) { %>
        <br>
        <button id="startGame">Start!</button>
        <script>
            const startButton = document.querySelector("#startGame");

            startButton.addEventListener("click", () => {
                fetch(`/game/${ gameId }/start`, { method: 'PUT' })
                    .then(() => window.location.reload())
            })
        </script>
    <% } %>

    <script>
        const inviteInput = document.querySelector("#invite")

        inviteInput.value = window.location.host + "/join?game=" + gameId

        document.querySelector("#copy").onclick = () => {
            /* Select the text field */
            inviteInput.select();
            inviteInput.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");
        }

        const playersDiv = document.querySelector("#playerList")

        fetch(`/game/${ gameId }/players`)
            .then(res => res.json())
            .then(players => {
                players.forEach(player => playersDiv.innerHTML += `<p style="color: var(--contrast)">${ player.name }</p>`)
            })
    </script>
</div>

<%- include('../../partials/footer.html') %>