<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
    <script src="/js/games_table.js"></script>
    <title>Tank Turn Tactics</title>
</head>

<h1>Super Secret Admin Lair</h1>

<div id="gamesTable"></div>
<script>generateAdminTable("#gamesTable")</script>