<%- include('../partials/head.html') %>

<div class="section">
    <div class="area card" style="overflow: scroll">
        <h1>Change Log</h1>

        <h2>1.1.1</h2>
        <ul>
            <li>Action support range is now infinite by default</li>
            <li>Enemy players' action points are now hidden</li>
            <li>Killing a player now awards the killer all of the dead player's action points</li>
            <li>Up/Down arrow keys can now be used to cycle through tanks</li>
            <li>Nerfed timid by limiting player name in the display card to 15 characters</li>
            <li>Added padding to the right of the game pad so the info panel does not hide any blocks</li>

        </ul>
        <h2>1.1.0</h2>
        <ul>
            <li>Added action log</li>
            <li>Added auto-refreshing</li>
            <li>Fixed error when moving after killing a player</li>
        </ul>

        <h2>1.0.0</h2>
        <ul>
            <li>Release</li>
        </ul>

    </div>
</div>

<%- include('../partials/footer.html') %>