<%- include('../partials/head.html') %>

<div class="section">
    <div style="margin: 100px">
        <h1>Original Idea</h1>
        <p></p>
        <a href="https://www.halfbrick.com/">Half Brick Studios</a>

        <h2>Website and Game</h2>
        <a href="https://github.com/poohcom1">poohcom1</a>

        <h2>Game Engine</h2>
        <a href="https://github.com/TanapTheTimid">TanapTheTimid</a>
    </div>
</div>

<%- include('../partials/footer.html') %>