<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/game.css" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
<h1>Game</h1>
    <script>
        (async () => {
            const urlParams = new URLSearchParams(window.location.search);
            const gameId = urlParams.get('game')

            // Get data
            const gameRes = await fetch(`/game/get/${gameId}`);
            const gameResponse = await gameRes.json();

            const gameObject = gameResponse.game;
            const players = gameResponse.players;

            const size = gameObject.size;

            const grid = [];


            createGrid(document.body, size.width, size.height, 50, 50, grid, players);

            /**
             *
             * @param {HTMLElement} element
             * @param {number} width
             * @param {number} height
             * @param {number} xSize
             * @param {number} ySize
             * @param {Array} gridArray
             */
            function createGrid(element, width, height, xSize, ySize, gridArray, playerList) {
                let gridElement = element.appendChild(document.createElement("div"));

                gridElement.id = "main";
                gridElement.className = "container";

                for (let row = 0; row < width; ++row) {
                    let rowElement = gridElement.appendChild(
                        document.createElement("div")
                    );
                    rowElement.className = "row";
                    rowElement.id = "row" + row;
                    rowElement.style.height = `${ySize + 2}px`;

                    gridArray.push([]);

                    for (let col = 0; col < height; ++col) {
                        let box = rowElement.appendChild(document.createElement("canvas"));
                        box.className = "box";
                        box.style.width = `${xSize}px`;
                        box.style.height = `${ySize}px`;

                        box.position = { x: col, y: row };

                        boxInit(box, playerList, col, row)

                        gridArray[row].push(box);
                    }
                }
            }


            function boxInit(box, players,x, y) {
                const boxPlayer = players.find(player => player.position.x === x && player.position.y === y)

                if (boxPlayer) colorCanvas(box, "#a81d1d")
            }

            /**
             *
             * @param {HTMLCanvasElement} canvasElement
             * @param {string} color
             */
            function colorCanvas(canvasElement, color) {
                const width = canvasElement.width;
                const height = canvasElement.height;

                const ctx = canvasElement.getContext('2d');
                ctx.fillStyle = color
                ctx.fillRect(0, 0, width, height)
            }
        })();
    </script>
</body>
</html>