<%- include('../partials/head.html') %>

<div class="section">
    <div  style="margin: 100px">
        <p>Just watch this vid lmao</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/aOYbR-Q_4Hs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>

<%- include('../partials/footer.html') %>