<%- include('../partials/head.html') %>
<body>
    <script type="text/javascript" src="js/games_table.js"></script>
    <div class="card">
        <h1>Tank Turn Tactics</h1>
        <div>
            <h3>Welcome, <%= user %></h3>
            <h4>Active Games:</h4>
            <div id="gameTable"></div>
            <script>generateGamesTable('#gameTable')</script>

            <hr/>

            <a href="/join">Join a game</a>
            <a href="/create-game">Create a game</a>
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
</body>

<style>
    .card {
        margin: 15px auto;
    }
</style>

<%- include('../partials/footer.html') %>