<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create game</title>
</head>
<body>
    <h1><%= gameName %></h1>

    <form action="/game/join" method="POST">
        <input hidden name="game_id" value="<%= game_id %>"/>

        <%if (usePassphrase) { %>
            <label for="passphrase">Passphrase</label>
            <input id="passphrase" name="passphrase"/>
        <% } %>

        <%- include('../partials/player_creation_card.ejs') %>

        <button type="submit">Join</button>
    </form>

</body>
</html>