<%- include('../partials/head.html') %>

<div class="section">
    <div class="area">
        <%- include('../partials/login_card.html') %>
    </div>
</div>

<%- include('../partials/footer.html') %>